<h1>All Markets</h1>

<%= react_component("Markets", {markets: Market.order(created_at: :desc)}) %>

<div class="input-field col s4">
  <input id="address" type="text" class="validate">
  <label for="address" data-error="wrong" data-success="right">Address</label>
</div>

<div class='google_maps_container'>
  <div id="map" class='google_maps'></div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here

    },
    internal: {
      id: 'map'
    }
  },

  function(){
    // console.log ("maps running on index");
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  }

  );
</script>
