<h1>SEARCH RESULTS</h1>


<table class="responsive-table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Market</th>
    </tr>
  </thead>
  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td><%= params[:product].downcase.pluralize %></td>
        <td><%= market.name %></td>
        <td><%=link_to "Click here for info", "/markets/#{market.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
