<h3>Product Details</h3>

  <section class="">

    <div class="">
      <table class="responsive-table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Type</th>
            <th>Organic</th>
            <th>Non-GMO</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td><b><%= @product.product_name %></b></td>
          <td><%= @product.product_type %></td>
          <td><%= @product.organic %></td>
          <td><%= @product.non_gmo %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
