<!-- <nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right">
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </div>
</nav> -->

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo right">Logo</a>
    <ul id="slide-out" class="side-nav">
      <li><%= link_to 'Log In', 'sessions/new' %></li>
      <li><a href="#!">Register</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
