<div>
  <h1>Connecting farmers to you</h1>
</div>
<form id='home_search'>
  <div class="input-field">
    <input id="search" type="search" required>
    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
  </div>
  <input class="btn waves-effect waves-light" type="submit" name="action"/>
</form>
