// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: #013220;
  display: block;
  overflow: hidden;
  margin: 0 auto 50px auto;
  text-align: center;
  @media (min-width: 601px) and (max-width: 1000px) {
    font-size: 16px;
    margin-bottom: 15px;
  }
  @media (max-width: 600px) {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.farmer-profile-image {
  border-radius: 50%;
  overflow: hidden;
  display: block;
  height: 150px;
  width: 150px;
  min-width: 150px;
  margin: 0 auto 50px auto;
}

.farmer-profile-info {
  border-radius: 10px;
  background-color: white;
  border: 5px solid #3CB371;
  padding: 10px;
  width: 50%;
  margin-bottom: 20px;
  min-width: 150px;
  margin: 0 auto 50px auto;
  text-align: center;
  display: block;
  @media (min-width: 601px) and (max-width: 1000px) {
    width: 85%;
    font-size: 16px;
    margin-bottom: 15px;
  }
  @media (max-width: 600px) {
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.farmer-profile-buttons {
  overflow: hidden;
  display: block;
  text-align: center;
  margin: 0 auto 50px auto;
  @media (max-width: 600px) {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.farmers-profile-markets-products {
  border-radius: 10px;
  background-color: white;
  display: block;
  border: 5px solid #3CB371;
  padding: 10px;
  margin: 0 auto 50px auto;
  min-width: 150px;
  width: 50%;
  text-align: center;
  @media (min-width: 601px) and (max-width: 1000px) {
    width: 85%;
    font-size: 16px;
  }
  @media (max-width: 600px) {
    width: 100%;
    font-size: 14px;
  }
}

.action-container {
  margin: 0 auto 50px auto;
}
