// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search {
  width: 300px;
  background-color: white;
}

.input-field {
  margin: 0 auto;
}

.search_bar {
  width: 1%;
}

form {
  // width: 600px;
  margin: 0 auto;
  text-align: center;
}

.row .search-criteria.col.s3 {
  padding: 0;
  @media (max-width: 600px) {
    width: 50%;
  }
}

.search_btn {
  background-color: #DC453F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#vider-element {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  object-fit: fill;
  overflow: hidden;
}

.search-border {
  background-color: white;
  margin: auto;
  margin-top:9em;
  width: 60%;
  padding: 4em;
  opacity: 0.9;
  h4 {
    font-size: 34px;
    margin-bottom: 30px;
  }
  @media (min-width: 601px) and (max-width: 1000px) {
    width: 85%;
    padding: 2em;
    margin-top: 6em;
    h4 {
      font-size: 28px;
    }
  }
  @media (max-width: 600px) {
    width: 100%;
    padding: 1em;
    margin-top: 4em;
    h4 {
      font-size: 20px;
    }
  }
  a {
    font-size: 16px;
  }
}
