// Place all the styles related to the Markets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.google_maps_container {
  max-width: 800px;
  margin: 0 auto;
  @media (max-width: 600px) {
    vertical-align: center;
  }

  .google_maps {
    width: 100%;
    height: 100%;
    max-width: 400px;
    float: right;
  }
}

.show-market-title {
  a {
    border-radius: 50%;
    overflow: hidden;
    display: block;
    height: 150px;
    width: 150px;
    min-width: 150px;

    @media (max-width:500px) {
      width: 50px;
      height: 50px;
      min-width: 50px;
    }
  }

  h3 {
    padding-left: 30px;

    @media (max-width:500px) {
      padding-left: 10px;
      font-size: 20px;
    }
  }

  display: flex;
  align-items: center;
}

.show-market-section {
  padding: 20px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;

  ul:not(.browser-default) li {
    list-style-type: circle;
    margin-left: 30px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.show-market-two-columns-responsive {
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }
  .left-section {
    width: 50%;
    padding-right: 10px;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  .right-section {
    padding-top: 20px;
    width: 50%;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
}

.farm-list-items {
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }
  .left-section {
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  .right-section {
    padding-left: 20px;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
}

#map {
  height: 300px;
}

.add-market {
  width: 50%;
  align: center;
  margin: 50px auto 20px auto;
}

.action {
  padding-top: 40px;
}
