// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error-message {
  width: 25%;
  border: 1px solid;
}

h1 {
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.product-form {
  font-size: 14px;
  width: 50%;
  border: 1px solid;
  padding-bottom: 20px;
  margin: 0px auto 20px auto;
  @media (max-width: 1000px) {
    width: 100%;
    padding-bottom: 10px;
  }

  .field {
    width: 80%;
    align: center;
    margin: 20px auto 20px auto;
    text-align: center;

    .product-type {
      text-align: center;
    }

    @media (max-width: 1000px) {
      margin: 0px auto 10px auto;
    }
  }
}
